#main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: var(--maincolor);
    justify-content: space-around;
    padding: 1.3rem;
}

#search_bar {
    width: 90%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.44);
    margin: auto;
    margin-top: 74px;
}

#search_bar div:first-child {
    width: 80%;
    display: flex;
    justify-content: space-around;
    border-right: 1px solid rgba(0, 0, 0, 0.44);
}

#search_bar div img {
    vertical-align: middle;
    width: 1.2rem;
    height: 1.2rem;
    margin: auto;
}

#search_bar div input {
    width: 95%;
    height: 100%;
    font-size: 1.1rem;
    border: none;
    outline: none;
    padding: 0 1rem;
}

.filtercon {
    width: 25%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#search_bar .filtercon .filterRemove {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    padding: .4rem .2rem;
    background-color: #eee;
    visibility: hidden;
    pointer-events: none;
}

.filterRemove .Category_name {
    width: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filterRemove .remIcon {
    width: 1.3rem !important;
    height: 1.3rem !important;
}

.filterRemove .remIcon img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    filter: grayscale(1);
    opacity: .6;
}

.filtercon .filterOptions {
    z-index: 999999;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: .51rem 1rem;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.24);
    visibility: hidden;
    pointer-events: none;
}

.filterOptions span {
    display: block;
    padding: .3rem;
    margin-bottom: .2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

#search_bar .filtercon .filterIcon:hover~.filterOptions,
#search_bar .filterOptions:hover {
    visibility: visible;
    pointer-events: all;
}

.book-container {
    width: 40%;
    height: 10rem;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all .39s;
    gap: 1rem;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}

.book-container:hover {
    transform: scale(1.04);
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}

.book-container .bookimg {
    width: 40%;
    height: 100%;
    overflow: hidden;
    border-radius: .3rem;
}

.bookimg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.description h4 {
    font-size: 2rem;
    color: #000;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px 2px black;
}

.description h5 {
    font-size: 1.1rem;
    color: rgb(66, 63, 63);
}

.description h5 span {
    color: rgb(110, 105, 105);
    padding: .2rem;
}

.error {
    width: 100%;
    min-height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    user-select: none;
    background: linear-gradient(to right, rgb(101 203 139) 50%, rgb(56 99 72) 70%);
    background-size: 200% auto;
    color: #000;
    opacity: .8;
    background-clip: text;
    text-emphasis-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: error 5s linear infinite;
}

@keyframes error {
    to {
        background-position: -200%;
    }
}

@media only screen and (max-width:520px) {
    #search_bar input {
        width: 90%;
        font-size: 1rem;
    }
    .book-container {
        width: 100%;
    }
}