#main {
    padding: 1.3rem;
    font-weight: normal;
    padding-top: 4rem;
}

.mytable tr td:nth-child(2) img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.mytable tr td:nth-child(2) {
    display: flex;
    gap: .8rem;
}

.mytable tr,
.mytable td,
.mytable th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: .2rem .5rem;
}

.mytable tr td:last-child,
.mytable tr td:first-child {
    text-align: center;
    width: 2rem;
}

#DataTables_Table_0_filter {
    margin-bottom: 1rem;
}

#DataTables_Table_0_paginate {
    margin-top: 1rem;
}