#main {
    height: 100%;
    width: 95%;
    margin: 1rem auto;
}

.delivery-title {
    display: flex;
}

.mytable tr td:last-child,
.mytable tr td:first-child {
    width: 2rem;
    text-align: center;
}

.delivery-title input {
    margin-top: 3.5rem;
}

.mytable {
    border-collapse: collapse;
    width: 100%;
}

.mytable td,
.mytable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.mytable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.mytable tr:hover {
    background-color: #ddd;
}

.mytable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--logocolorlight);
    color: var(--textcolor);
}

.mytable th:hover {
    background-color: var(--logoColor);
}

.mytable_filter,
.mytable_length,
.mytable {
    margin: 20px 0;
}

.add {
    height: 2rem;
    background-color: var(--logocolorlight);
    border: none;
    color: var(--textcolor);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 5px rgb(163, 194, 191);
    padding: 0 20px;
    margin: 5rem 1rem 0 1rem;
}

#DataTables_Table_0_filter {
    margin-bottom: 1rem;
}

#DataTables_Table_0_paginate {
    margin: 1rem 0;
}

.titleofpage {
    float: left;
    width: 100%;
    padding: 0.3rem 0;
    text-align: center;
    margin: 3.5rem 0 2rem;
    border: 2px solid rgb(16, 61, 104);
    border-radius: 5px;
    box-shadow: 0 3px rgb(163, 194, 191);
    color: rgb(16, 61, 104);
}

.add:hover {
    background-color: #019a9c;
}

.add:active {
    background-color: .3e8e41;
    box-shadow: 0 5px rgb(163, 194, 191);
    transform: translateY(4px);
}

.edit {
    height: 2rem;
    background-color: var(--logocolorlight);
    border: none;
    display: block;
    color: var(--textcolor);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 5px rgb(163, 194, 191);
    padding: 0 20px;
    /* margin-left: 24%; */
}

.edit:hover {
    background-color: #019a9c;
}

.edit:active {
    background-color: #3e8e41;
    box-shadow: 0 5px rgb(163, 194, 191);
    transform: translateY(4px);
}

.actionBtn {
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}